//Variables
@hr-footer-margin: 100%;

//Functions
.centralize () {
  margin: 0 auto; }

.setSize(@new_width: auto, @new_height: auto) { width: @new_width;
																							 	height: @new_height; }

.setDisplay(@display: none){ display: @display;	}

.emptyMargin() { margin: 0px; 
							 padding: 0px; }

.reset() {	clear: both;	}

.outerDiv(@width: auto) { min-height: 20px;
													width: @width;
													.centralize;
													.back-btn {	float: right;
																			margin-top: 13px;	}
													h2 {	float: left;	}
													padding: 19px;
													background-color: whiteSmoke;
													border: 1px solid #EEE;
													-webkit-border-radius: 4px;
													-moz-border-radius: 4px;
													border-radius: 4px;
													-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
													-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
													box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);	}

.setTableIndent(@padding-left: 30px, @padding-top: 14px){	padding-left: @padding-left;
																													padding-top: @padding-top;
																													img {	margin-top: -19px;
																													margin-right: 3px;	}	
																												}

//Page elements
optgroup label {	display: none;	}

.row-fluid {	.setDisplay;
							margin-top: 55px;	}

.login-form {	.setSize(259px);
							.centralize;
							.well {	padding-top: 5px;
											padding-bottom: 5px; }
							.btn {	float: right;	}
						}

.message { display: inline;	}

.add-address, .edit-address {	.outerDiv(312px);
															.btn.primary{	float: right;	}	
															input[type="text"] {	.setSize(100%);	}
							}

.add-address {	.legenda {	.reset;
														margin-bottom: 5px;	}	
							}

.edit-address {	.content {	.reset; }	
							}	

.manage-address {	.outerDiv(450px);
									.content {	margin-top: 45px;	}
									.btn-group{	float: right;	}
									.country {	.setTableIndent(5px);	}
									.state {	.setTableIndent();	}
									.city {	.setTableIndent(65px);	}	
								}