.login-form {
  width: 259px;
  height: auto;
  margin: 0 auto;
}
.login-form .well {
  padding-top: 5px;
  padding-bottom: 5px;
}
.login-form .btn {
  float: right;
}
.row-fluid {
  margin-top: 55px;
}
.message {
  display: inline;
}
