optgroup label {
  display: none;
}
.row-fluid {
  display: none;
  margin-top: 55px;
}
.login-form {
  width: 259px;
  height: auto;
  margin: 0 auto;
}
.login-form .well {
  padding-top: 5px;
  padding-bottom: 5px;
}
.login-form .btn {
  float: right;
}
.message {
  display: inline;
}
.add-address,
.edit-address {
  min-height: 20px;
  width: 312px;
  margin: 0 auto;
  padding: 19px;
  background-color: whiteSmoke;
  border: 1px solid #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.add-address .back-btn,
.edit-address .back-btn {
  float: right;
  margin-top: 13px;
}
.add-address h2,
.edit-address h2 {
  float: left;
}
.add-address .btn.primary,
.edit-address .btn.primary {
  float: right;
}
.add-address input[type="text"],
.edit-address input[type="text"] {
  width: 100%;
  height: auto;
}
.add-address .legenda {
  clear: both;
  margin-bottom: 5px;
}
.edit-address .content {
  clear: both;
}
.manage-address {
  min-height: 20px;
  width: 450px;
  margin: 0 auto;
  padding: 19px;
  background-color: whiteSmoke;
  border: 1px solid #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.manage-address .back-btn {
  float: right;
  margin-top: 13px;
}
.manage-address h2 {
  float: left;
}
.manage-address .content {
  margin-top: 45px;
}
.manage-address .btn-group {
  float: right;
}
.manage-address .country {
  padding-left: 5px;
  padding-top: 14px;
}
.manage-address .country img {
  margin-top: -19px;
  margin-right: 3px;
}
.manage-address .state {
  padding-left: 30px;
  padding-top: 14px;
}
.manage-address .state img {
  margin-top: -19px;
  margin-right: 3px;
}
.manage-address .city {
  padding-left: 65px;
  padding-top: 14px;
}
.manage-address .city img {
  margin-top: -19px;
  margin-right: 3px;
}
